/* RS Colors:
Light Blue: #b2dbee
Yellow: #e1bb34
Gray: #a9acad 

RS Fonts:
"MuseoSans500"
"trajan-pro-3" */

body {
	background-image: url("../images/background-main.jpg");
	color: #a9acad;
	font-family: "MuseoSans500";
}

h1 {
	color: #b2dbee;
	margin: 10px;
	font-family: "trajan-pro-3";
}

table {
	float: left;
	padding-bottom: 10px;
}

th {
	color: #e1bb34;
	font-family: "trajan-pro-3";
}

th,td {
    padding-left: 8px;
	padding-right: 8px;
}